.team {
    font-family: Arial, sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 150px;
    width: 100%;
    margin: 0 auto;
  }
  
  .team .team-header {
    text-align: center;
    display: flex;
    text-align: start;
    justify-content: space-between;
    width: 100%;
  }
  
  .team .team-header .team_itemhead{
    width: 45%;
    font-size: 18px;
    color: #666;
  }
  .team .team-header .team_itemdes{
    width: 45%;
    margin: auto 0;
    font-size: 18px;
    color: #666;
  }
  .team .team-header h1 {
    font-size: 42px;
    font-weight: 700;
  }
  .team .team-header h1 span{
    color: #9aa88e;
  }
  
  .team .team-header p {
    font-size: 18px;
    margin: 10px 0;
  } 
  
  .team .team_items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0;
  }
  
  .team .team_items .team_item {
    position: relative;
    height: 200px; 
    border: 1px solid #ddd;
    overflow: hidden;
    width: 31%;
    height: 600px;
  }
 
  .team_items .team_item .transparent{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #33333379;
  }
  .team_item .transparent .transArrow{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 20px;
    right: 20px;
    /* transform: translate(-50%, -50%); */
    background-color: #cccccc79;
    /* filter: blur(1px); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
  }
 .transparent .transArrow .icon{
    rotate: 325deg;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease; 

  }
  .team_item:hover .transArrow{
    display: flex;
  }
 
  .transparent .transArrow:hover{
    background-color: #9aa88e;
  } 
  .transArrow:hover .icon{
    rotate: 0deg;
  }
  
  .team_item .team_item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 20px;
    text-align: start;
  }
  
  .team_item .team_item-content h2 {
    font-size: 25px;
    margin: 0 0 10px 0;
  }
  
  .team_item .team_item-content h3 {
    font-size: 16px;
    margin: 0;
  }
  .social-icon{
    width: 150px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* font-size: 30px; */
    padding-top: 20px;
  }
  .social-icon .icon{
    border-radius: 50%;
    font-size: 30px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #666;
    cursor: pointer;
  }
  .social-icon .icon:hover{
    background-color: #666;
    color: #fff;
  }

  @media (max-width:768px){
    .team .team_items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .team .team_items .team_item{
        width: 100%;
      }
  }

  @media(max-width:1024px){
    .team .team-header{
        display: flex;
        flex-direction: column;
    }
    .team .team-header .team_itemhead{
        width: 100%;
      }
     .team .team-header .team_itemdes{
        width: 100%;
        padding-top: 20px;
    }

  }
