@media (max-width: 768px) {
    .OurSkill-img1{
        height: 260px;
        object-fit: cover;
    }
    .OurSkill-img2{
        height: 140px;
    }
    .OurSkill-img3 {
        width: 200px;
        height: 200px;
        left: -100px;
        top: 70px;
        object-fit: cover;
    }
  }
  
  @media (min-width: 769px) and ( max-width: 1180px) {
    .OurSkill-images{
        margin-left: 70px;
    }
    .OurSkill-img3 {
       top: 40px;
        left: 40px;
        object-fit: cover;
    }
  }

  .skills{
    padding: 10% 8%;
  }