.services {
    font-family: Arial, sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 150px;
    width: 100%;
    margin: 0 auto;
  }
  
  .services .services-header {
    text-align: center;
    display: flex;
    text-align: start;
    justify-content: space-between;
    width: 100%;
  }
  
  .services .services-header .services_itemhead{
    width: 45%;
    font-size: 18px;
    color: #666;
  }
  .services .services-header .services_itemdes{
    width: 45%;
    margin: auto 0;
    font-size: 18px;
    color: #666;
  }
 
 
  
  
  .services .services_items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0;
  }
  
  .services .services_items .services_item {
    position: relative;
    height: 200px; 
    border: 1px solid #ddd;
    overflow: hidden;
    width: 31%;
    height: 600px;
  }
 
  .services_items .services_item .transparent{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #33333379;
  }
  .services_item .transparent .transArrow{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 20px;
    right: 20px;
    /* transform: translate(-50%, -50%); */
    background-color: #cccccc79;
    /* filter: blur(1px); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
  }
 .transparent .transArrow .icon{
    rotate: 325deg;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease; 

  }
  .services_item:hover .transArrow{
    display: flex;
  }
 
  .transparent .transArrow:hover{
    background-color: #9aa88e;
  } 
  .transArrow:hover .icon{
    rotate: 0deg;
  }
  
  .services_item .services_item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 20px;
    text-align: start;
  }
  
  .services_item .services_item-content h2 {
    font-size: 25px;
    margin: 0 0 10px 0;
  }
  
  .services_item .services_item-content h3 {
    font-size: 16px;
    margin: 0;
  }


  .allservicebtn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width:768px){
    .services .services_items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .services .services_items .services_item{
        width: 100%;
      }
  }

  @media(max-width:1024px){
    .services .services-header{
        display: flex;
        flex-direction: column;
    }
    .services .services-header .services_itemhead{
        width: 100%;
      }
     .services .services-header .services_itemdes{
        width: 100%;
        padding-top: 20px;
    }

  }
